*{
  padding: 0;
  background: oldlace;
  margin: 15px;
}
h1{
 font-size: 50px;
 margin-top: 10%;
 text-align: center;
 text-transform: uppercase;
 font-family: georgia;
 margin-bottom:50px;
}
.menu{
  display:flex;
  width:50%;
  border:2px solid grey;
  font-family: georgia;
  color:grey;
  margin-left:25%;
  margin-bottom:50px;
}
.menu a{
  font-family: georgia;
  color:grey;
  font-weight:normal;
  font-size: 25px;
  align-content:center;
}
p{
  margin-left: 130px;
  margin-right:130px;
}
img{
  margin-left:15%;
}
